<!DOCTYPE html>
<html lang="en">
    <!-- Head Partial -->
    <%- include('../partials/head/head.ejs', { page: 'Profile' }) %>

<body>
    <!-- Navbar Partial -->
    <%- include ('../partials/navbar/navbar.ejs') %>

    <br>
    
    <div class="container-fluid my-2 p-2">
        <div class="row">
            <div class="col-5" id="user-col">
                <button type="button" data-bs-toggle="modal" id="profile-button"
                data-bs-target="#userProfileModal">
                    <div class="card p-3" style="width: 35rem" id="user-card">
                        <span id="profile-edit-text">
                            Edit Profile
                        </span>
                        <h5 class="user-card-title">
                            Hello @<%= profile.username %>!
                        </h5>
                        <img
                        class="card-img-top img-thumbnail border-2 border-dark"
                        src="<%= profile.avatar %>" 
                        alt="user-avatar" 
                        width="350" 
                        height="525">
                        <div class="card-body">
                            <p class="card-text" id="user-card-text">
                                " <%= profile.bio %> "
                            </p>
                        </div>
                    </div>
                </button>
            </div>
            <div class="col">
                <div id="user-reviews-all">
                    <h1>
                        @<%= profile.username %>'s  Post:
                    </h1>
                    <% review.forEach(allUserReviews => { %>
                        <a href="/thingstodo/<%= allUserReviews.thingstodo.id %> " id="user-reviews-link">
                            <div class="card p-3" id="user-reviews">
                                <div class="d-flex align-items-center justify-content-between">
                                    <p id="user-reviews-title">
                                        Things To Do: <%= allUserReviews.thingstodo.title %>
                                    </p>
                                    <p id="user-create-at">
                                        <%= new Date(allUserReviews.createdAt).toLocaleString() %>
                                    </p>
                                </div>
                                <p>
                                    <% for( let i = 0; i < 5; i++ ) { %>
                                        <% if (allUserReviews.rating > i) { %>
                                            <span id="review-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="gold" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </span>
                                        <% } else { %>
                                            <span id="review-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                                                class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                </svg>
                                            </span>
                                        <% } %>  <% } %>
                                </p>
                                <p>
                                    " <%= allUserReviews.content %> "
                                </p>
                            </div>
                        </a>
                        <br>
                        <% }) %>
                </div>
            </div>
        </div>
    </div>

    <!-- User Profile MODAL -->
    <div class="modal fade" id="userProfileModal" tabindex="-1" aria-labelledby="userProfileModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" id="userProfile">
                <div class="modal-header" id="userProfileModal-header">
                    <h5 class="modal-title" id="userProfileModalLabel">Edit Profile!</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form action="/profile/<%= profile._id %>?_method=PUT"
                            method="POST">
                            <div class="mb-3">
                                <label>Profile Picture:</label>
                                <input 
                                type="text"
                                class="form-control" 
                                placeholder="https://"
                                name="avatar"
                                value="<%= profile.avatar %>"
                                required
                                autofocus/>
                            </div>
                            <div class="mb-3">
                                <label>Profile Bio:</label>
                                <textarea 
                                class="form-control" 
                                placeholder="Write a bio!" 
                                style="height: 100px"
                                name="bio"
                                required><%= profile.bio %></textarea>
                            </div>

                            <% if (typeof user !=='undefined' ) { %>
                                <div class="modal-footer" id="profile-footer-btn">
                                    <button type="submit"
                                        class="btn btn-dark">Submit</button>
                                </div>
                            <% } %>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Back to top button -->
    <button
    type="button"
    class="btn btn-danger btn-floating btn-sml"
    id="btn-back-to-top"
    >
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
        </svg>
        TOP OF PAGE
    </button>
</body>
</html>