<html lang="en">
    <!-- Head Partial -->
    <%- include('../partials/head/head.ejs', { page: city.city }) %>

<body>
    <!-- Navbar Partial -->
    <%- include ('../partials/navbar/navbar.ejs') %>
    <main id="city-main">
        <div class="container d-flex justify-content-center my-2">
            <h1 id="city-title">
                <%= city.city %>
            </h1>
        </div>
        <div class="container-fluid my-2 p-2" id="city-show">
            <img 
            src="<%= city.image %>"
            alt="<%= city.city %>"
            class="img-thumbnail border-5 border-dark"
            id="city-image">
            <div class="card p-3" id="city-card">
                <p id="city-description">
                    " <%= city.description %> "
                </p>
            </div>
        </div>
    </main>

    <div class="container d-flex justify-content-center my-5 p-2" id="city-todos">
        <section class="container-fluid" id="todo">
            <h1>FOOD</h1>
            <% thingstodofood.forEach(foundThingsToDoFood => { %>
                <a href="/thingstodo/<%= foundThingsToDoFood._id %>" id="todo-link">
                    <div class="card p-3 m-3" id="todo-card">
                        <img class="img-thumbnail border-3 border-dark" src="<%= foundThingsToDoFood.image %>" alt="image" id="todo-image-show">
                        <div class="card-body">
                            <h3 class="card-title">
                                <strong>
                                    <%= foundThingsToDoFood.title %>
                                </strong>
                            </h3>
                            <p class="card-text">
                                " <%= foundThingsToDoFood.description %> "
                            </p>
                        </div>
                    </div>
                </a>
            <% }) %>
        </section>
        
        <section class="container" id="todo">
            <h1>ATTRACTION</h1>
            <% thingstodoattraction.forEach(foundThingsToDoAttraction => { %>
                <a href="/thingstodo/<%= foundThingsToDoAttraction._id %>" id="todo-link">
                    <div class="card p-3 m-3" id="todo-card">
                        <img class="img-thumbnail border-3 border-dark" src="<%= foundThingsToDoAttraction.image %>" alt="image" id="todo-image-show">
                        <div class="card-body">
                            <h3 class="card-title">
                                <strong>
                                    <%= foundThingsToDoAttraction.title %>
                                </strong>
                            </h3>
                            <p class="card-text">
                                " <%= foundThingsToDoAttraction.description %> "
                            </p>
                        </div>
                    </div>
                </a>
            <% }) %>
        </section>
    </div>
</body>
</html>