<html lang="en">
    <!-- Head Partial -->
    <%- include('../partials/head/head.ejs', { page: city.city }) %>

<body>
    <!-- Navbar Partial -->
    <%- include ('../partials/navbar/navbar.ejs') %>
    <main id="city-main">
        <div class="container d-flex justify-content-center my-2">
            <h1 id="city-title">
                <%= city.city %>
            </h1>
        </div>
        <div class="container-fluid my-2 p-2" id="city-show">
            <img 
            src="<%= city.image %>"
            alt="<%= city.city %>"
            class="img-thumbnail border-5 border-dark"
            id="city-image">
            <div class="card p-3" id="city-card">
                <p id="city-description">
                    " <%= city.description %> "
                </p>
            </div>
        </div>
    </main>

    <div class="container d-flex justify-content-center my-5 p-2" id="city-todos">
        <section class="container-fluid" id="todo">
            <div id="todo-food">
                <h1 class="display-4" id="todo-food-title">
                    What To Eat? 
                </h1>
            </div>
            <% thingstodofood.forEach(foundThingsToDoFood => { %>
                <a href="/thingstodo/<%= foundThingsToDoFood._id %>" id="todo-link">

                    <br>

                    <div class="card p-3 m-3" id="todo-card">
                        <img class="img-thumbnail border-3 border-dark" src="<%= foundThingsToDoFood.image %>" alt="image" id="todo-image-show">
                        <div class="card-body">
                            <h3 class="card-title" id="todo-title">
                                <strong>
                                    <%= foundThingsToDoFood.title %>
                                </strong>
                            </h3>
                            <p class="card-text">
                                " <%= foundThingsToDoFood.description %> "
                            </p>
                        </div>
                    </div>
                </a>
            <% }) %>
        </section>
        
        <section class="container" id="todo">
            <div id="todo-attraction">
                <h1 class="display-4" id="todo-attraction-title">
                    What To See? 
                </h1>
            </div>
            <% thingstodoattraction.forEach(foundThingsToDoAttraction => { %>
                <a href="/thingstodo/<%= foundThingsToDoAttraction._id %>" id="todo-link">

                    <br>

                    <div class="card p-3 m-3" id="todo-card">
                        <img class="img-thumbnail border-3 border-dark" src="<%= foundThingsToDoAttraction.image %>" alt="image" id="todo-image-show">
                        <div class="card-body">
                            <h3 class="card-title" id="todo-title">
                                <strong>
                                    <%= foundThingsToDoAttraction.title %>
                                </strong>
                            </h3>
                            <p class="card-text">
                                " <%= foundThingsToDoAttraction.description %> "
                            </p>
                        </div>
                    </div>
                </a>
            <% }) %>
        </section>
    </div>

    <!-- Back to top button -->
    <button
    type="button"
    class="btn btn-danger btn-floating btn-sml"
    id="btn-back-to-top"
    >
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
        </svg>
        TOP OF PAGE
    </button>
</body>
</html>